*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #fff;
  background-color: #498cec;

  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.btn {
  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
  color: #fff;
}

.app-page {
  max-width: 1210px;
  margin: 80px auto 0;
}

.app-page__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: 20px;
}

.app-page__top-left-side {
  position: relative;

  margin-bottom: 10px;

  width: 100%;
}

.app-page__city-scale-wrap {
  display: flex;

  justify-content: space-between;
}

.app-page__top-left-side-city {
  font-size: 50px;
  margin: 0;
}

.app-page__top-left-side-btn-item {
  opacity: 0.6;

  font-size: 18px;
}

.app-page__top-left-side-btn-item:hover {
  opacity: 0.8;
}

.app-page__top-left-side-btn-find-location {
  position: relative;
}

.app-page__top-left-side-btn-find-location::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 20px;
  left: -22px;
  top: 40%;
  transform: translateY(-50%);

  background-image: url("../img/Path\ 2.png");
}

.app-page__top-left-side-btn {
  margin-top: 10px;
  margin-left: 5px;
}

.app-page__top-left-side-btn-change-city {
  margin-right: 60px;
}

.app-page__top-left-side-search {
  width: 580px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.app-page__top-left-side-search-input-wrap {
  position: relative;
}

.app-page__top-left-side-search-input {
  width: 100%;

  border: none;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 80px;
}

.app-page__top-left-side-search-ok {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);

  color: #498cec;
  font-size: 30px;
  text-transform: uppercase;
}

.app-page__top-left-side-search-cities-list {
  margin: 0;
  padding: 0;
}

.app-page__top-left-side-search-cities-list-item {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #fff;

  font-size: 30px;
  color: #000;

  cursor: pointer;

  display: none;
}

.app-page__top-left-side-search-cities-list-item--show {
  display: block;
}

.app-page__top-right-side {
  align-self: baseline;
}

.app-page__top-right-side-scale-change {
  border: 1px solid
    rgba(255, 255, 255, 0.4);
  border-radius: 8px;

  position: relative;

  display: flex;
}

.app-page__top-right-side-scale-change::after {
  position: absolute;
  content: "\00B0";

  top: 5px;
  left: -20px;

  opacity: 0.4;
}

.app-page__top-right-side-scale-change-btn {
  font-size: 18px;
  opacity: 0.4;

  padding: 4px 12px;
}

.app-page__top-right-side-scale-change-btn:hover {
  opacity: 0.6;
}

.app-page__top-right-side-scale-change-btn--active {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  );
  opacity: 1;
}

.app-page__top-right-side-scale-change-btn--active:hover {
  opacity: 1;
}

.app-page__middle {
  margin-top: 200px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.app-page__middle-temp {
  display: flex;
  align-items: center;
}

.app-page__middle-temp-icon img {
  height: 140px;
}

.app-page__middle-temp-value {
  font-size: 180px;
}

.app-page__middle-temp-description {
  font-size: 25px;
}

.app-page__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 230px;
  margin-left: 20px;
  margin-right: 20px;
}

.app-page__bottom-item {
  display: flex;
  flex-direction: column;

  flex-basis: 22%;
}

.app-page__bottom-text-item {
  font-size: 18px;
  opacity: 0.6;
}
.app-page__bottom-value-item {
  margin-top: 12px;

  font-size: 25px;
}

@media only screen and (max-width: 1250px) {
  .app-page__top {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 760px) {
  .app-page__top-left-side-search {
    width: 400px;
  }

  .app-page__bottom-item {
    flex-basis: 35%;
    margin-bottom: 30px;
  }

  .app-page__middle-temp-value {
    font-size: 120px;
  }

  .app-page__top-left-side-city {
    font-size: 30px;
  }

  .app-page__top-left-side-btn-item {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  body {
    background-color: #7290b9;
  }

  .app-page {
    margin-top: 20px;
  }

  .app-page__top-left-side-btn {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
  }

  .app-page__top-left-side-btn-item {
    margin-right: 15px;
  }

  .app-page__top-left-side-search {
    width: 332px;
  }

  .app-page__top-right-side-scale-change {
    margin-top: 6px;
    margin-right: 25px;
  }

  .app-page__middle {
    margin-top: 110px;
  }

  .app-page__middle-temp-value {
    font-size: 90px;
    font-weight: 300;
  }

  .app-page__middle-temp-description {
    font-size: 18px;
    font-weight: 300;
  }

  .app-page__bottom {
    margin-top: 130px;
  }

  .app-page__bottom-item {
    flex-grow: 1;
  }

  .app-page__bottom-text-item {
    font-size: 15px;
  }

  .app-page__bottom-value-item {
    font-size: 18px;
    margin-top: 8px;
  }

  .app-page__top-left-side-search-input {
    font-size: 15px;
  }

  .app-page__top-left-side-search-ok {
    font-size: 15px;
  }

  .app-page__top-left-side-search-cities-list-item {
    font-size: 15px;
  }
}

@media only screen and (max-width: 338px) {
  .app-page__bottom {
    margin-left: 2px;
    margin-right: 2px;
  }
}
