*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #fff;
  background-color: #498cec;

  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.btn {
  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
  color: #fff;
}

.app-page {
  max-width: 1210px;
  margin: 80px auto 0;
}

.app-page__top {
  display: flex;
  justify-content: space-between;
}

.app-page__top-left-side {
  position: relative;

  margin-left: 20px;
}

.app-page__top-left-side-city {
  font-size: 50px;
  margin: 0;
}

.app-page__top-left-side-btn-change-city,
.app-page__top-left-side-btn-find-location {
  opacity: 0.6;

  font-size: 18px;
}

.app-page__top-left-side-btn {
  margin-top: 10px;
  margin-left: 5px;
}

.app-page__top-left-side-btn-change-city {
  margin-right: 60px;
}

.app-page__top-left-side-search {
  width: 580px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.app-page__top-left-side-search-input-wrap {
  position: relative;
}

.app-page__top-left-side-search-input {
  width: 100%;

  border: none;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 80px;
}

.app-page__top-left-side-search-ok {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);

  color: #498cec;
  font-size: 30px;
  text-transform: uppercase;
}

.app-page__top-left-side-search-cities-list {
  margin: 0;
  padding: 0;
}

.app-page__top-left-side-search-cities-list-item {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #fff;

  font-size: 30px;
  color: #000;

  cursor: pointer;

  display: none;
}

.app-page__top-left-side-search-cities-list-item--show {
  display: block;
}

.app-page__top-right-side-scale-change {
  border: 1px solid
    rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.app-page__top-right-side-scale-change-btn {
  font-size: 18px;
  opacity: 0.4;

  padding: 4px 12px;
}

.app-page__top-right-side-scale-change-btn--active {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  );
  opacity: 1;
}

.app-page__middle {
  margin-top: 210px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.app-page__middle-temp {
  display: flex;
  align-items: center;
}

.app-page__middle-temp-icon {
  width: 140px;
  height: 140px;

  display: flex;
}

.app-page__middle-temp-value {
  font-size: 180px;
}

.app-page__middle-temp-description {
  font-size: 25px;
}

.app-page__bottom {
  display: flex;
  justify-content: space-between;

  margin-top: 230px;
  margin-left: 25px;
  margin-right: 115px;
}

.app-page__bottom-item {
  display: flex;
  flex-direction: column;
}

.app-page__bottom-text-item {
  font-size: 18px;
  opacity: 0.6;
}
.app-page__bottom-value-item {
  margin-top: 12px;

  font-size: 25px;
}
