*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #000;
  background-color: #498cec;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.app-page {
  max-width: 1366px;
  margin: 20px auto 0;
}
